body{
    background-color: #82cede;
    margin: 0;
}
.principal{
    background-color: rgba(46, 153, 179);
    position: relative;
}
.secundario{

    background-color: #82cede;
    position: relative;
    z-index: 1;
}
.principal .onda{
    position: absolute;
    bottom: -1rem;
    z-index: 0;
}
.principal .espacio{
    margin-top: 10%;
    height: 15px;
    z-index: 2;
}
h1{
    font-size: 8vh;
    text-shadow: 4px 4px 3px rgba(0,0,0,0.5);
    margin-bottom: 10px;
    
}
.titulosPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top, rgba(46, 153, 179, 1), rgba(46, 153, 179, 0)), linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0)), url('../img/fondoPrincipalHD.jpg');
    background-size: cover;
    width: 100%;
    height: 500px;
    background-position: center;
    background-repeat: no-repeat;
}


.divH1 {
    text-align: center;
    text-transform: uppercase;
    color: white;
}

.divH1 h1 {
    text-align: center;
    margin-top: 0%;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
}
.divH3 h3{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
}
.divH3 h4{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: white;
    margin-left: 15%;
    margin-right: 15%;
}
.divH1 h2{
    margin-top: 0%;
    margin-right: 5%;
    width: 100%;
    font-size: 2.5vh;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    font-weight: 400;
    font-style: italic;
}

.menuBar{
    position: fixed;
    background-color: black;
    height: 100px;
    width: 100%;
    font-size: x-large;
    color: white;
    display: flex;
    align-items: center;
    z-index: 2;
}

.desplazamientoMB{
    margin-left: auto;
    margin-right: 25px;
    display: block;
    font-family: "Dosis", sans-serif;
    font-weight: 600;
}
.imgHome{
    margin-left: 15px;
}
a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.texto-Violeta{
    color:rgb(94, 2, 88);
}
.subrayado{
    text-decoration: underline;
}
.imagenHead{
    height: 50px;
}
.contenedorIconosRegiones{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
    column-gap: 25px;
    row-gap: 50px;

}
.TarjetaRegion {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.TarjetaRegion p{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}
.TarjetaRegion img{
    height: 12.5vh;
    background-color: #48b1c8;
    border-radius: 10%;
    margin-top: 15px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.TarjetaRegion .tituloRegion{
    font-size: 5vh;
    margin-top: 1vh;
    text-shadow: 5px 2px 25px rgb(46, 153, 179);
}
.TarjetaRegion .cantidadPokes{
    font-size: 2.5vh;
    margin-bottom: 5%;
}
.TarjetaRegion .noEsta{
    width: auto;
    color: red;
}
.imgMapas{
    margin-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.TituloMapa{
    font-family: 'Roboto Mono', monospace;
    font-size: 5vh;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
}
.TituloMapaStar{
    font-family: 'Roboto Mono', monospace;
    font-size: 10vh;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 0;
}

.mapasSecundarios{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    text-align: center;
}
.mapasSecundarios img{
    margin-top: 0;
    width: 300px;
    height: auto;
}
.mapasSecundarios > div{
    margin: 0 10vh;
}
.contenedorStarters{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    height: 100%;
    width: 75%;
    margin: 0 auto;
    margin-top: 1%;
    column-gap: 25px;
    row-gap: 50px;
    margin-bottom: 5vh;
}
.TarjetaStarters{
    background-color: white;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.9);
    font-family: 'Roboto Mono', monospace;
    text-align: center;
    height: 21vh; 
    width: 20vh; 
}
.TarjetaStarters img{
    background-color: rgb(46, 153, 179);
    border-radius: 10%;
    margin-top: 15px;
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.9);
}
.divStarters h2{
    margin-top: 10%;
    font-family: 'Roboto Mono', monospace;
    font-size: 7vh;
    color: white;
    text-align: center;
    text-shadow: 5px 5px 5px black;
    margin-bottom: 0;
    text-transform: uppercase;
}